[submodule "GDExtension/godot-cpp"]
	path = GDExtension/godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
[submodule "godot"]
	path = godot
	url = https://github.com/maganadev/godot
[submodule "RhythmAudio"]
	path = RhythmAudio
	url = https://github.com/maganadev/RhythmAudio.git
[submodule "RhythmInput"]
	path = RhythmInput
	url = https://github.com/maganadev/RhythmInput.git
